---
const homeUrl = import.meta.env.BASE_URL
---

<aside class="drawer" data-drawer>
 <div class="drawer__inner">
  <div class="profile">
   <picture class="profile__img">
    <img src={`${homeUrl}assets/about/profile_img01.jpg`} alt="my profile's photo" width="150" height="150">
   </picture>
   <p class="profile__name langText" data-lang="ko">이노우에&emsp;토모코</p>
   <p class="profile__name langText isHidden" data-lang="ja">井上&emsp;智子</p>
   <p class="profile__txt langText" data-lang="ko">도쿄와 부산을 오가며 활동하고 있는 그래픽 디자이너입니다. 상품 패키지를 중심으로, 손에 잡히는 것부터 화면 속의 것까지, 피지컬과 디지털을 넘나드는 다양한 디자인 작업을 하고 있습니다. 고객과의 대화와 리서치를 통해, 그들이 소중하게 생각하는 가치를 형태로 풀어내는 과정을 좋아합니다.<br />외국어로 일기를 쓰면서, 어학 공부의 일환으로 이 블로그를 운영하고 있습니다.</p>
   <p class="profile__txt langText isHidden" data-lang="ja">東京と韓国を拠点にしているグラフィックデザイナー。商品パッケージを中心に、手に取れるモノから画面の中のモノまで、フィジカルとデジタルを横断した幅広いデザインをしています。お客さんとの会話やリサーチを通して、その人たちが大切にしている価値を形にすることが好きです。<br />外国語で日記を書きながら、語学の勉強としてこのブログサイトを運営中。</p>
   <!-- <p class="profile__txt langText isHidden" data-lang="en">I’m a graphic designer based between Tokyo and Korea. Focusing on product packaging, I work across a wide range of designs from physical objects you can hold to digital experiences on screen bridging both physical and digital spaces. Through conversations and research, I enjoy translating what clients truly value into thoughtful visual forms. I run this blog as part of my language studies, writing diary entries in foreign languages.</p> -->
  </div>
  <ul class="share">
   <li>
    <a href="https://www.instagram.com/inoueeee0521/" target="_blank" rel="noopener noreferrer">
     <img src={`${homeUrl}assets/common/share_icon02.svg`} alt="instagram" width="17" height="17">
    </a>
   </li>
   <li>
    <a href="https://note.com/jonson0521" target="_blank" rel="noopener noreferrer">
     <img src={`${homeUrl}assets/common/share_icon03.svg`} alt="note" width="17" height="17"></a>
   </li>
   <li>
    <a href="mailto:tomo.inoue0521@gmail.com">
     <img src={`${homeUrl}assets/common/share_icon05.svg`} alt="E-mail" width="18" height="17">
    </a>
   </li>
  </ul>
  <div class="friends">
   <p class="friends__ttl langText" data-lang="ko">함께 만드는 친구들</p>
   <p class="friends__ttl langText isHidden" data-lang="ja">クリエイター仲間</p>
   <ul class="friends__list">
    <li class="friends__card">
     <img src={`${homeUrl}assets/about/friends_img01.jpg`} alt="friend's photo" width="10" height="10">
     <p class="friends__name">Lee Ning Yi<span>Graphic Designer</span></p>
    </li>
    <li class="friends__card">
     <img src={`${homeUrl}assets/about/friends_img02.jpg`} alt="friend's photo" width="10" height="10">
     <p class="friends__name">Jung kyungwan<span>Interpreter</span></p>
    </li>
    <li class="friends__card">
     <img src={`${homeUrl}assets/about/friends_img03.jpg`} alt="friend's photo" width="10" height="10">
     <p class="friends__name">Emi Hatanaka<span>Graphic Designer</span></p>
    </li>
    <li class="friends__card">
     <img src={`${homeUrl}assets/about/friends_img05.jpg`} alt="friend's photo" width="10" height="10">
     <p class="friends__name">Minmin<span>3D designer</span></p>
    </li>
   </ul>
  </div>
 </div>
 <button class="drawer__close" type="button" aria-label="Close menu" data-menu-close></button>
</aside>