---
import type { CollectionEntry } from 'astro:content';
const { posts } = Astro.props as { posts: CollectionEntry<'posts'>[] };
---

<article class="right">
  <div class="right__date-sp">
    <div class="right__date-year">{posts[0]?.data.year}</div>
    <div class="right__date-number">{posts[0]?.data.month}.{posts[0]?.data.day}</div>
    <div class="right__date-slot right__date-slot--week">
      <span class="right__week-inner langText" data-lang="ja">{posts[0]?.data.weekJa}</span>
      <span class="right__week-inner langText isHidden" data-lang="ko">{posts[0]?.data.weekKo}</span>
    </div>
  </div>

  {posts.map((post) => (
    <section
      class="right__box"
      data-year={post.data.year}
      data-month={post.data.month}
      data-day={post.data.day}
      data-weekday-ja={post.data.weekJa}
      data-weekday-ko={post.data.weekKo}
    >
      <p class="right__ttl">
        <span>{post.data.year}</span>{post.data.month}.{post.data.day}
        <small class="langText" data-lang="ja">{post.data.weekJa}</small>
        <small class="langText isHidden" data-lang="ko">{post.data.weekKo}</small>
      </p>
      <div class="right__wrap">
        <h2 class="langText" data-lang="ja">{post.data.titleJa}</h2>
        <h2 class="langText isHidden" data-lang="ko">{post.data.titleKo}</h2>
        <p class="right__txt langText" data-lang="ja" style="white-space: pre-line;">{post.data.articleJa}</p>
        <p class="right__txt langText isHidden" data-lang="ko" style="white-space: pre-line;">{post.data.articleKo}</p>
        <!-- <button class="right__btn">&#x1f44f;</button> -->
      </div>
    </section>
  ))}
</article>
